.ui.borderless.topmenu.menu{
  background-color: #f7f7f7;
  box-shadow: none;
  border:none;

}

.ui.borderless.middle.menu{
  background-color: #f7f7f7;
  box-shadow: none;
  border:none;

}

.footer-background {
  background-color: #ffffff;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
